<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="boardCount" parameterType="string" resultType="int">
		SELECT nvl(COUNT(*), 0) FROM board WHERE boardid = #{value}
	</select>
	
	<select id="boardList" parameterType="map" resultType="board">
		SELECT * FROM (
		SELECT rownum rnum, a.* FROM (SELECT * FROM board WHERE boardid = #{boardid}
		ORDER BY ref DESC, refstep) a)
		WHERE rnum BETWEEN #{start} AND #{end}
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board values
		(boardseq.nextval, #{name}, #{pass}, #{subject}, #{content}, #{file1},
		sysdate, 0, boardseq.currval, #{reflevel}, #{refstep}, #{boardid})
	</insert>
	
	<insert id="insertReply" parameterType="board">
		INSERT INTO board values
		(boardseq.nextval, #{name}, #{pass}, #{subject}, #{content}, #{file1},
		sysdate, 0, #{ref}, #{reflevel}, #{refstep}, #{boardid})
	</insert>
	
	<select id="boardOne" parameterType="int" resultType="board">
		SELECT * FROM board WHERE num = #{value}
	</select>
	
	<update id="readCountUp" parameterType="int">
		UPDATE board SET readcnt = readcnt + 1 WHERE num = #{value}
	</update>
	
	<update id="refStepAdd" parameterType="map">
		UPDATE board SET refstep = refstep + 1 WHERE ref = #{ref} AND refstep > #{refstep}
	</update>
	
	<update id="boardUpdate" parameterType="board">
		UPDATE board SET subject = #{subject}, content = #{content}, file1 = #{file1}
		WHERE num = #{num}
	</update>
	
	<delete id="boardDelete" parameterType="int">
		DELETE FROM board WHERE num = #{num}
	</delete>
	

</mapper>